.foot-button{
    width: 100px;
    height:35px;
   background-color: #2EB398;
    border-color: #2EB398;
}
.info{
    width: 76%;
    margin: 40px auto;
    overflow: hidden;
    clear: both;
}
.info figure{
    display: inline-block;
    width: 63%;
    height: 250px;
    position: relative;
    animation: pageTop 6s ease 0.5s backwards;
    float: left;
}
.info figcaption{
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 0;
    background: rgba(153,153,153,.8);
    color: white;
    opacity: 0;
    transition: opacity .75s ease-out;
}
.info figcaption strong {
    display: block;
    line-height: 40px;
}
.card{
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 6px;
    background: url(../images/quote-bg.png) no-repeat top right rgba(42,42,42,1);
    width: 35%;
    float: right;
    height: 250px;
    overflow: hidden;
}
.card h1 {
    padding: 0px 0px 0px 10px ;
}
.card p {
    padding: 0 0 0 40px;
    font-size: 14px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: #89919a;
    -webkit-animation: animations2 5s ease-in-out 5s;
    -moz-animation: animations2 5s ease-in-out 5s;
    -o-animation: animations2 5s ease-in-out 5s;
    -ms-animation: animations2 5s ease-in-out 5s;
    animation: animations2 5s ease-in-out 5s;
}
.intro{
    margin: 0px 0 0 48px;
}
ul, ol {
    list-style: none;
}
.intro li a{
    height: 50px;
    width: 50px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
    float: left;
    margin: 0 6px;
}
.intro li a:hover {
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
a:hover {
    color: #fff;
}

.talk {
    background-position: 13px 18px !important;
}
.addresses {
    background-position: 12px -22px !important;
}
.email {
    background-position: 12px -60px !important;
}
.photos {
    background-position: 12px -137px !important;
}
.heart {
    background-position: 13px -99px !important;
}
.talk, .addresses, .email, .photos, .heart {
    background: url(../images/icons.png) no-repeat;
}
.blogs {
    width: 76%;
    margin: 0 auto 20px;
}
.bloglist {
    width: 63%;
    float: left;
    padding-left: 0px;
}
.bloglist>li {
    border-right: #111 2px solid;
    padding: 5px 0;
}
.arrow_box {
    background: #222;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    width: 96.5%;
    color: #b9b9b9;
    border-radius: 6px;
    position: relative;
}
.ti {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 0 20px 22px;
    border-color: transparent transparent transparent #111;
    position: absolute;
    left: 100%;
    top: 20px;
}
.ci {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 103%;
    top: 16px;
    background: #000;
    border: 2px solid #333;
}
.arrow_box h2.title {
    padding: 0 0 0 20px;
    font: 16px/50px "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.textinfo {
    overflow: hidden;
}
.arrow_box img {
    width: 100px;
    height: 95px;
    float: left;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -ms-transition: All 1s ease;
    -o-transition: All 1s ease;
    border-radius: 4px;
    margin: 0 20px 20px;
}
.arrow_box p {
    line-height: 24px;
    padding: 0 20px 20px;
    color: #C8CFD6;
    height: 90px;
    overflow: hidden;
}
.details {
    background: rgba(1,1,1,0.3);
    border-radius: 0 0 6px 6px;
    padding: 0 10px;
}
.details li {
    line-height: 26px;
    display: inline;
    font-size: 11px;
    margin-right: 10px;
}
.details li a {
    color: #3F3E3C;
}
.likes {
    background-position: 0 -240px !important;
}
.comments {
    background-position: 0 -220px !important;
}
.icon-time {
    background-position: 0 -208px !important;
    padding: 0 0 0 18px;
}
.likes, .comments {
    float: right;
    padding: 0 0 0 14px;
}
.icon-time, .likes, .comments {
    background: url(../images/icons.png) no-repeat;
}
aside{
    display: block;
}
aside div {
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 6px;
    padding: 15px;
    background: #222;
    margin-bottom: 20px;
    overflow: hidden;
    float: right;
    width: 35%;
}
.tuijian li, .clicks li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tuijian li:first-child span {
    color: #f8490b;
}
.tuijian li:nth-child(-n+3) span,.clicks  li:nth-child(-n+3) span{
    width: 39px;
    color: #999;
}
.tuijian li span,.clicks li span{
    margin-right: 10px;
    font-size: 14px;
    font-family: "微软雅黑";
}
.toppic ul li a {
    display: block;
    width: 100%;
    clear: both;
    line-height: 20px;
    overflow: hidden;
}
.toppic ul li a:hover{
    text-decoration: none;
}
aside h2{
    font-size: 16px;
    margin-bottom: 10px;
    text-shadow: #000 1px 1px 1px;
    color: #ccc;
}
.clicks li {
    line-height: 24px;
}
.clicks li span a {
    padding: 0 5px;
    color: #366;
}
.searchform {
    overflow: hidden;
    padding: 10px;
}
.search form {
    display: block;
    margin-top: 0em;
}
.searchform input {
    background: rgba(0, 0, 0, 0.25) url(../images/icons.png) no-repeat 3px -318px;
    border: 1px solid #111;
    width: 220px;
    line-height: 30px;
    color: #b9b9b9;
    padding-left: 30px;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.art {
    background: url(../images/vinyl.png) no-repeat left;
    width: 130px;
    float: left;
    background-size: 120px;
}
dt {
    display: block;
}
.viny .art img {
    width: 90px;
    height: 90px;
    margin-left: 11px;
}
.viny dl dd {
    color: #b9b9b9;
    line-height: 24px;
}
dd {
    display: block;
    -webkit-margin-start: 40px;
}
.icon-song span {
    background-position: -33px -344px !important;
}
.icon-artist span {
    background-position: -16px -344px !important;
}
.icon-album span {
    background-position: 0 -344px !important;
}
.icon-like span {
    background-position: -1px -299px !important;
}
.viny dd span {
    width: 12px;
    height: 24px;
    margin-right: 7px;
    float: left;
    display: block;
}
.icon-song span, .icon-artist span, .icon-album span, .icon-like span {
    background: url(../images/icons.png) no-repeat;
}
.music audio {
    width: 100%;
    padding-top: 10px;
}
audio {
    width: 300px;
    height: 30px;
}
.input-butt{
    width:20px !important;
    margin-top: 10px;
}
/*关于我的样式*/
.about-me{
    background-color: #353535;
    margin-top: 1px;
    margin-bottom: 1px;
}
.about-me ol,ul{list-style:none;margin:0px;padding:0px;}
.about-me blockquote,q{quotes:none;}
.about-me blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
.about-me table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
.about-me a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.about-me nav.vertical ul li{	display:block;}/* vertical menu */
.about-me nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
.about-me img{max-width:100%;}
/*--end reset--*/

/*-- main --*/
.about-me .main {
    padding: 0.5em 0 2em;
    height: 600px;
}
.about-me h1 {
    font-size: 3em;
    text-align: center;
    color: #404452;
}
.about-me .account{
    margin: 3em auto 0;
    width: 76%;
    background-color: #fff;
    position: relative;
    height:95%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.account-info {
    border-right: 1px solid #E2E2E2;
    width: 25%;
}
.account-top {
    padding: 2em;
    padding-right: 10px;
    padding-left: 10px;
}
.account-top img{
    border-radius: 50%;
}
.account-top-left {
    float: left;
}
.account-top-right {
    float: right;
    padding-top: 0.5em;
}
.account-top  h2 {
    color: #171a21;
    font-size: 1.5em;
}
.account-top p {
    color: #868b98;
    font-size: 0.9em;
    margin-top: 0.2em;
}
.account span {
    background: url(../images/img-sprite.png) no-repeat 0px 0px;
    width: 17px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.account-info span.icon1 {
    background-position: -24px 0px;
}
.account-info span.icon2 {
    background-position: -46px 0px;
}
.account-info span.icon3 {
    background-position: -68px -1px;
}
.account-info span.icon4 {
    background-position: -96px 0px;
}
.text-right h4 {
    font-size: 1.1em;
    color: #171a21;
    margin-bottom: 0.3em;
    display: inline-block;
}
.text-right h4 a{
    color: #171a21;
}
.text-right h4 a:hover{
    color: #41CCB4;
}
.text-right label {
    float: right;
    font-size: 0.8em;
    color: #868b98;
}
.text-right p {
    font-size: .85em;
    color: #868b98;
    line-height: 1.6em;
}
.text-right p.from {
    display: inline-block;
}
.text-right h6 {
    font-size: 0.9em;
    color: #02a3c6;
    display: inline-block;
}
.text {
    padding: 1em;
    border-bottom: 1px solid #E2E2E2;
}
.text-left {
    float: left;
}
.text-right {
    float: left;
    width: 92%;
}
.account-bottom{
    height: 76%;
}
/*--tabs--*/
.tabs{
    height: 80%;
}
.tabs nav {
    background: #fff;
    color: #171a21;
    height: 100%;
}
.tabs nav a {
    padding: 1.6em 2em;
    text-align: left;
    display: block;
    cursor: pointer;
    font-size: 1.1em;
}
.tabs nav a  i{
    background-color: #41ccb4;
    font-size: 0.8em;
    color: #fff;
    padding: 2px 7px;
    border-radius: 68%;
    float: right;
}
.tabs nav a:hover, .tabs nav a.selected {
    background: #404452;
    color: #FFFFFF;
}
.tabs nav a.selected i{
    color: #404452;
}
.tabs nav a:hover span, .tabs nav a.selected  span{
    background-position: 0px -24px;
}
.tabs nav a:hover span.icon1, .tabs nav a.selected  span.icon1{
    background-position: -24px -24px;
}
.tabs nav a:hover span.icon2, .tabs nav a.selected  span.icon2{
    background-position: -46px -24px;
}
.tabs nav a:hover span.icon3, .tabs nav a.selected  span.icon3{
    background-position: -69px -24px;
}
.tabs nav a:hover span.icon4, .tabs nav a.selected  span.icon4{
    background-position: -96px -24px;
}
.account span.star {
    background-position: -24px -47px;
    margin-right:10px;
    width: 14px;
    height: 14px;
}
.account span.star:hover,.account span.star.active {
    background-position: -41px -47px;
}
.tabs .content {
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0;
    color: #6C5D5D;
    width: 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s linear 0s;
}
.tabs .content.visible {
    padding: 0;
    opacity: 1;
    width: 73%;
    margin-right: 10px;
}
/*--//tabs--*/
.options {
    padding: 1em 2em 2em;
}
select.dropdown {
    border: none;
    font-size: 1.5em;
    color: #868b98;
}
select.dropdown:focus {
    outline: none;
}
.dropdown option{
    color: #868b98;
}
/*--copyright--*/
.copyright {
    margin: 2em;
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #404452;
}
.copyright p a{
    color: #404452;
}
.copyright p a:hover{
    color: #28A08C;
}
.info-me1 p{
    margin-top: 10%;
    margin-left: 10%;
    float: left;
    font-size: 21px;
    color: black;
}
.info-me2 table{
    height: 50%;
    margin-left: 10%;
}
.info-me2 table tr{
    height: 10%;
}
.info-me2 table td{
    margin: 3px 1px 10px 0px;
    width: 80px;
}
.skilled1{
    height: 60%;
}
.skilled1 span{
    float: left;
}
.skilled1 p{
    color: #428bca;
    float: left
}
.skilled2 {
    height: 99%;
}
.skilled p{
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
    font-size: 16px;
    color: black;
    line-height: 30px;
}
.project{
    margin-left: 19px;
    font-size: 16px;
}
.project p{
    float: left;
    color: black;
}
.project-title span{
    float: left;
}
.project-title p{
    float: left;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.pj {
   color: #0a80e6;
}
.project a:hover{
    color:#da1919
}
.experience{
    font-size: 18px!important;
    margin-top: 10px;
}
.honor-time{
    width: 10px; height: 10px;
    border-radius: 50%;
    position: relative;
    top: -4px;
    left: 6px;
    background: #000;
    border: 2px solid #333;
    float: right;margin-right: 135px;
}
/*--//copyright--*/
/*---- responsive-design -----*/
@media(max-width:1440px){
    .account {
        width: 48%;
    }
}
@media(max-width:1366px){
    .account {
        width: 50%;
    }
}
@media(max-width:1280px){
    .account {
        width: 54%;
    }
}
@media(max-width:1080px){
    .account {
        width: 65%;
    }
}
@media(max-width:1024px){
    .account {
        width: 67%;
    }
}
@media(max-width:991px){
    .account {
        width: 70%;
    }
}
@media(max-width:900px){
    .account {
        width: 77%;
    }
}
@media(max-width:800px){
    .account {
        width: 85%;
    }
}
@media(max-width:768px){
    h1 {
        font-size: 2.7em;
    }
    .account {
        width: 80%;
    }
    .account-info {
        width: 45%;
    }
    .account-top {
        padding: 1.8em 1em;
    }
    .account-top-left {
        width: 29%;
    }
    .account-top h2 {
        font-size: 1.3em;
    }
    .account-top p {
        font-size: 0.8em;
    }
    .tabs nav a {
        font-size: 1em;
    }
    .tabs .content.visible {
        width: 55%;
    }
    .text {
        padding: 0.9em 1em;
    }
    .text-right {
        width: 91%;
    }
    .text-right h4 {
        font-size: 1em;
    }
    .text-right p {
        line-height: 1.4em;
    }
}
@media(max-width:640px){
    h1 {
        font-size: 2.4em;
    }
    .account {
        width: 88%;
    }
    .account-top h2 {
        font-size: 1.2em;
    }
    .options {
        padding: 1em 2em 7.5em;
    }
    .text {
        padding: 0.9em 1.5em .9em 0.5em;
    }
    .text-right p {
        font-size: .8em;
    }
    .options {
        padding: 1em 2em 2em;
    }
    .copyright p {
        font-size: 0.9em;
        line-height: 1.8em;
    }
}
@media(max-width:600px){
    .account {
        width: 94%;
    }
}
@media(max-width:480px){
    h1 {
        font-size: 1.9em;
    }
    .account {
        width: 95%;
    }
    .account-top-left {
        width: 100%;
        float: none;
        text-align: center;
    }
    .account-top-right {
        float: none;
        text-align: center;
    }
    .tabs nav a {
        font-size: 0.95em;
        padding: 1em 1.5em;
    }
    .options {
        padding: 1em 1em 2em;
    }
    .text-right h4 {
        font-size: 0.9em;
    }
    .text-right label {
        font-size: 0.7em;
    }
    .account span.star {
        margin-right: 3px;
    }
    .text {
        padding: 0.8em 1em .8em 0.5em;
    }
    .text-right p {
        font-size: .75em;
    }
    .text-right h6 {
        font-size: 0.8em;
    }
    .tabs nav a i {
        font-size: 0.7em;
    }
}
@media(max-width:320px){
    .main {
        padding: 2em 0 1em;
    }
    h1 {
        font-size: 1.5em;
    }
    .account {
        margin: 2em auto 0;
    }
    .account-info {
        width: 100%;
        border: none;
    }
    .account-top {
        padding: 1em 0;
    }
    .tabs nav {
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #E2E2E2;
        padding: 0.5em;
    }
    .tabs nav a {
        font-size: 0.8em;
        padding: 0.5em .75em;
        display: inline-block;
        margin-bottom: 1em;
    }
    .account span {
        margin-right: 2px;
    }
    .tabs {
        position: relative;
        padding-bottom: 25.5em;
    }
    .tabs nav a i {
        font-size: 0.6em;
        padding: 1px 4px;
        margin: 1px 0 0 4px;
    }
    .tabs .content {
        top: 104px;
        height: inherit;
    }
    .tabs .content.visible {
        width: 100%;
    }
    .text {
        padding: 0.6em 0.5em;
    }
    .text-right h4 {
        font-size: 0.85em;
    }
    .text-right p {
        font-size: .7em;
    }
    .text-right h6 {
        font-size: 0.75em;
    }
    .text-right label {
        font-size: 0.6em;
    }
    .account span.star {
        margin-right: 9px;
    }
    select.dropdown {
        font-size: 0.7em;
    }
    .options {
        padding: 0em 1em 2em;
    }
    .copyright {
        margin: 1.5em 1em;
    }
    .copyright p {
        font-size: 0.8em;
    }
}
.message-topic{
    width: 90% !important;
    float: left;
}
.message-type{
    font-family: 'open_sansregular';
    margin: 20px 0;
    box-shadow: none;
    border: 1px solid #303030;
    background: #454545;
    color: #9C9C9C;
    line-height: 1.8em;
    display: block;
    width: 10%;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
    float: left;
    height: 39px;
}
.message-content{
    margin-bottom: 10px !important;
}