.detail img{border:none;}
*{font-family:'微软雅黑';font-size:12px;}
dl,dt,dd{display:block;margin:0;}
.detail a{text-decoration:none;    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;}

.detail{width:76%;height:100%;margin:40px auto 20px auto;-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;}

/*left*/

.leftsidebar_box{
    width:20%;
    overflow-x:auto;
    float: left;
    overflow-y:auto;
    min-height: 400px;
    max-height: 100%;
    border: 1px solid #968f8f;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgb(76, 76, 76);}
.leftsidebar_box dt{padding-left:30px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#42a3f7;font-size:12px;position:relative;line-height:48px;cursor:pointer;}
.leftsidebar_box dd{padding-left:45px;}
.leftsidebar_box dd a{color:#f2f4f7;line-height:20px;}
.leftsidebar_box dt img{position:absolute;right:10px;top:20px;}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;}
::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}
.right_content{
    width: 79%;
    float: right;
    background-color: #dedddb;
    min-height: 400px;
    max-height: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;"
}
.a-time{
    float: right;
    margin-right: 30px;
}
.a-content{
    width: 96%;
    height: 82%;
    overflow-y:auto;
    margin: 10px 0px 10px 20px;
}
